body, html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  background-color: #fff;
}

.site-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.site-wrapper #menu {
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 20px;
  box-sizing: border-box;
}

.site-wrapper main {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.site-wrapper main article {
  flex-grow: 1;
}

.site-wrapper main footer {
  flex-grow: 0;
}

h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.5rem;
}

a {
  color: #999;
  text-decoration: none;
}

a:hover {
  color: #000;
}

#menu {
  box-shadow: 5px 0px 5px #eee;
}

#menu h1 {
  display: inline-block;
}

#menu h2 {
  font-size: 0.9rem;
  margin: 0 0 0 0;
}

#menu .menu-toggle {
  display: none;
}

#menu .header > * {
  vertical-align: middle;
}

#menu ul {
  list-style-type: none;
  padding: 0 0 0 15px;
  margin: 10px 0 0 0;
}

#menu ul li {
  margin-bottom: 5px;
}

#menu ul li a.selected {
  text-decoration: underline;
  color: #000;
}

#menu section {
  margin-top: 20px;
}

footer {
  border-top: 1px solid #eee;
}

footer p {
  margin: 10px 0 0 0;
  padding: 0;
  text-align: right;
  font-size: 0.8rem;
  font-style: italic;
}

article h1 {
  font-style: italic;
  text-transform: none;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

article pre {
  border-radius: 5px;
  /* background-color: #eee; */
  padding: 10px;
  /* color: #616161; */
  overflow: scroll;
}

@media only screen and (max-width: 950px) {
  body {
    overflow-y: scroll;
  }

  .site-wrapper {
    display: block;
  }

  #menu {
    background-color: #fff;
    height: 100%;
    overflow: hidden;
    transition: height 0.2s;
  }

  #menu.closed {
    height: 60px;
  }

  #menu .menu-toggle {
    display: inline-block;
    transition: transform 0.2s;
  }

  #menu .menu-toggle.closed {
    transform-origin: center; 
    transform: rotate(180deg);
  }
}