@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
 }

 @font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
 }

 @font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
 }

 @font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Poppins/Poppins-BoldItalic.ttf");
 }

body, html {
  margin: 0;
}

body {
  font-family: 'Poppins', 'Sans Serif';
  font-weight: normal;
  font-size: 14px;
  background-color: #2c2f33;
  color: #aad1a5;
}

.site {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.site-wrapper {
  display: flex;
  flex-direction: row;
}

.site-wrapper main article {
  flex-grow: 1;
}

.site-wrapper main footer {
  flex-grow: 0;
}

h1 {
  margin: 0;
  font-weight: normal;
  font-size: 1.5rem;
}

a {
  color: #c6a2ff;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.side-bar {
  background-color: #2c2f33;;
  box-sizing: border-box;
  color: #999;
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 20px;
}

.side-bar h1 {
  display: inline-block;
  color: #eeb12d;
  font-size: 1.5rem;
}

.side-bar h2 {
  font-size: 0.9rem;
  margin: 0 0 0 0;
  color: #ff7e67;
}

.side-bar .toggle {
  display: none;
  vertical-align: middle;
}

.side-bar .toggle .desc {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.side-bar .toggle .indicator {
  display: inline-block;
  transition: transform 0.2s;
  margin-left: 5px;
}

.side-bar .header > * {
  vertical-align: middle;
}

.side-bar ul {
  list-style-type: square;
  padding: 0 0 0 15px;
  margin: 10px 0 0 10px;
}

.side-bar ul li {
  margin-bottom: 5px;
}

.side-bar ul li a.selected {
  color: #fff;
}

.side-bar section {
  margin-top: 20px;
}

main {
  background-color: #373a3f;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* See: https://stackoverflow.com/a/73337109 */
  overflow: auto;
  padding: 20px;
}

footer {
  border-top: 1px solid #2c2f33;
  color: #ff7e67;
}

footer p {
  font-size: 0.8rem;
  margin: 10px 0 0 0;
  padding: 0;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .site-wrapper {
    display: block;
    width: auto;
    margin-bottom: 0;
  }

  .side-bar {
    height: 100%;
    left: 0px;
    overflow: hidden;
    position: fixed;
    top: 0px;
    transition: height 0.2s;
    width: 100%;
  }

  .side-bar {
    height: 65px;
  }

  .side-bar.open {
    height: 100%;
  }

  .side-bar .toggle {
    display: inline-block;
    margin-left: 10px;
  }

  .side-bar.open .toggle .indicator {
    transform-origin: center; 
    transform: rotate(180deg);
  }

  main {
    margin-top: 50px;
    box-shadow: none;
  }
}